<html>
  <head></head>
  <body>
<div id="table-scroll" class="table-scroll">
  <table id="main-table" class="main-table">
        <!--app-header [tableHeader] = "tableHeader"></app-header-->
        <thead>
            <th scope="col" *ngFor="let tableKeys of tableHeader;">{{tableKeys | uppercase}}</th>
            <th>Post Row</th>
        </thead>  
      <tbody>
            <tr *ngFor="let tableContent of tableData | paginate : config">
              <td>{{tableContent.id}}</td>
              <td>{{tableContent.name}}</td>
              <td>{{tableContent.phone}}</td>
              <td>{{tableContent.email}}</td>
              <td>{{tableContent.company}}</td>
              <td>{{tableContent.date_entry}}</td>
              <td>{{tableContent.org_num}}</td>
              <td>{{tableContent.address_1}}</td>
              <td>{{tableContent.city}}</td>
              <td>{{tableContent.zip}}</td>
              <td>{{tableContent.geo}}</td>
              <td>{{tableContent.pan}}</td>
              <td>{{tableContent.pin}}</td>
              <td>{{tableContent.status}}</td>
              <td>{{tableContent.fee}}</td>
              <td>{{tableContent.guid}}</td>
              <td>{{tableContent.date_exit}}</td>
              <td>{{tableContent.date_first}}</td>
              <td>{{tableContent.date_recent}}</td>
              <td><a href="{{tableContent.url}}">{{tableContent.url}}</a></td>
              <td><button type="submit" (click)="postDataRow(tableContent)">Post</button></td>
              


              <!--td *ngFor= "let items of tableContent | keyvalue">
                {{items.key}}
                  {{items.key}} {{items.value}}
              </td-->
          </tr>
        </tbody>
        <tfoot>
            
            <tr>
                <th></th>
                <td>
                  <select (change) = "listNumberRecords($event)">
                    <option *ngFor="let item of listDropDown" value="{{item}}" >{{item}}</option>
                  </select>
                </td>
                <td><pagination-controls (pageChange)="nextPage($event)"></pagination-controls></td>
            </tr>
    </tfoot>    
  </table>
</div>
</body>
</html>

