html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.intro {
	max-width:1280px;
	margin:1em auto;
}
.table-scroll {
	position: relative;
	z-index:1;
	margin: auto;
    overflow-y:scroll;
    overflow-x: scroll;
	height: 350px;
}
.table-scroll table {
	font-family: arial, sans-serif;
	font-size: 14px;
	border-collapse: collapse;
	width: 100%;
	margin: auto;
	border-spacing: 0;
}
 .table-wrap {
	position:relative;
} 
.table-scroll th, .table-scroll td {
	white-space: nowrap;
	padding: 8px;
	border: 1px solid #dddddd;
} 
/* .table-scroll thead th {
	position: -webkit-sticky;
	position:sticky;
} */
tr:nth-child(even) {
	background-color: #dddddd;
}
/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,.table-scroll tfoot th, .table-scroll tfoot td {
	position:-webkit-sticky;
	border: 0px solid #dddddd;
	position:sticky;
	bottom:0;
	background:#666;
	color:#fff;
}

.table-scroll thead,.table-scroll thead th, .table-scroll thead td {
	position:-webkit-sticky;
	border: 1px solid #dddddd;
	text-align: center;
	position:sticky;
	white-space: nowrap;
	top:0;
	background:#666;
	color:#fff;
}

a:link, a:visited {
	background-color: #ccc0e0;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }